venv/
scripts/__pycache__/
*.pyc
*.RData
.DS_Store
config.py
multilingual_wiki_coding_utilities/*.json
multilingual_wiki_coding_utilities/.credentials
stata_files/*.tsv
stata_files/*.log
viz_scripts/*.csv
*.dta

