venv/
scripts/__pycache__/
*.pyc
*.RData
.DS_Store
data
db
coding
viz_results
results
python_scripts/config.py
multilingual_wiki_coding_utilities/*.json
multilingual_wiki_coding_utilities/.credentials

